<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.org/dtd/hibernate-configuration-5.3.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/fizzbuzz</property>  
        <property name="connection.username">postgres</property>  
        <property name="connection.password">behabaro14</property>  
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <property name="connection_pool_size">1</property>
        <!--<property name="hbm2ddl.auto">create</property> -->
        <property name="show_sql">true</property>

    <mapping resource="account.hbm.xml"/>  
    </session-factory>  
  
</hibernate-configuration>  

<!-- "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd"> -->